@model IEnumerable<VideoSIte.Models.Video>

@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Video</h2>

<iframe width="560"
        height="315"
        src="https://www.youtube.com/embed/9TBTPf_TiPk"
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen></iframe>
