body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 20px;
    padding-right: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
div.scrollmenu {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
}
div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
}
div.scrollmenu a:hover {
    background-color: #777;
}
.nopadding {
    padding: 0 !important;
}
.thumbnails {
    border: 0 none;
    box-shadow: none;
}
.paddingleft {
    padding-left: 100px;
}
html, body {
    height: 100vh;
}


@media (min-width:992px) {
    .pull-right-sm {
        float: right;
    }
    .container-fluid .row .col-md-2 {
        height:100vh;
        overflow: auto;
    }
}